

<div id="card1" class="ui raised card">
  <div class="content">
    <div class="header"><em><%=  message.user.username %></em></div>
    <div class="meta">
    </div>
    <div class="description">
      <p><%= message.body %></p>
    </div>
  </div>
  
</div>
